/logs
# ignore model
*.best_model_so_far_5_10.keras
*.best_model_so_far_11_10_2.keras
*.best_model_so_far_11_10.keras
*.best_model_so_far_13.keras
*.best_model_so_far_13_2.keras
*.best_model_so_far_14.keras